<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/list.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div id="app" class="container">
      <h1>{{ appName }}</h1>
      <div class="row">
        <form class="col s12 l6" v-on:submit.prevent="addItem">
          <div class="input-field">
            <input type="text" v-model="itemName" placeholder="Add an item" maxlength="100" required />
          </div>
          <div class="input-field">
            <button class="btn waves-effect waves-light blue">Add
              <i class="material-icons left">add_circle</i>
            </button>
          </div>
        </form>
      </div>
      <div class="row">
        <ul class="collection col s12 l6">
          <li
            is="shop-item"
            v-for="(item, index) in items"
            v-bind:key="index"
            v-bind:title="item.name"
            v-on:remove="removeItem(index)">
          </li>
        </ul>
      </div>
      <div v-if="!items.length">The list is empty!</div>
    </div>
    <script src="/javascripts/vue.min.js"></script>
	<script src="/javascripts/axios.min.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    <script src="/javascripts/list.js"></script>
  </body>
</html>
