extends layout

block content
  #app.container
    h1 #{title}
    .row
      // LOCAL INFORMATION
      h3 User information
      p #[strong id:] #{user._id}
      p #[strong email:] #{user.local.email}
      p #[strong password:] #{user.local.password}
    .row
      a.btn-small.waves-effect.waves-light.blue(href='/logout')
        i.material-icons.left exit_to_app
        | Logout
