extends layout

block content
  #app.container
    h1 #{title}
    .row
      // show any messages that come back with authentication
      if message.length > 0
        .card-panel.white-text.red.darken-2 #{message}
      // Signup form
      form(action='/signup', method='post')
        .row
          .input-field.col.s12
            i.material-icons.prefix mail_outline
            input#email(type='email', name='email')
            label(for='email') Email
        .row
          .input-field.col.s12
            i.material-icons.prefix security
            input#password(type='password', name='password')
            label(for='password') Password
        button.btn-small.waves-effect.waves-light.blue(type='submit', name='action')
          | Signup
          i.material-icons.left create
    .row
      hr
      p
        | Already have an account? 
        a(href='/login') Login
      p
        | Or go 
        a(href='/') home
        | .
